@page
@model ListModel
@{
    ViewData["title"] = "Restaurants Menu";
}

<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@foreach (var rest in Model.RestaurantsList)
{
    <partial name="_Summary" model="rest" />
}

@*<table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Location</th>
                <th>Cuisine</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rest in Model.RestaurantsList)
            {
                <tr>
                    <td>@rest.Id</td>
                    <td>@rest.Name</td>
                    <td>@rest.Location</td>
                    <td>@rest.Cuisine</td>
                    <td>
                        <a class="btn btn-lg" asp-page="./Detail" asp-route-restId="@rest.Id">
                            <i class="glyphicon glyphicon-zoom-in"></i>
                        </a>
                        <a class="btn btn-lg" asp-page="./Edit" asp-route-restId="@rest.Id">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-lg" asp-page="./Delete" asp-route-restId="@rest.Id">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
<a class="btn btn-primary" asp-page="./Edit">
    <i class="glyphicon glyphicon-new-window"></i>
    Add New Restaurant
</a>

@section footer {
    @if (Model.Message != null)
    {
        <div class="alert alert-info">@Model.Message</div>
    }
}